<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">관리</h3>
        <div class="card-options">
        </div>
      </div>
      <div class="card-body">
      	<div id="notice"><%= notice %></div>
        <h4>
          활성화된 체크의 모든 예약된 백그라운드 작업을 다시 만듭니다.
        </h4>
        <p>이는 (재)시작 후에 유용합니다.</p>
        <p>
          <%= link_to '<i class="fe fe-refresh-cw"></i> 다시생성'.html_safe, jobs_recreate_checks_path, class: 'btn btn-info' %>
        </p>
        <p>
          REST API 엔드포인트를 사용하여 이를 실행할 수 있음:
        </p>
        <p>
          <code>
            curl -X GET -H "Content-type: application/json" /checks/jobs/recreate.json
          </code>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">디버깅 정보</h3>
        <div class="card-options">
        </div>
      </div>
      <div class="card-body">
        <p>
          <span class="badge badge-dark %>">
          구성 요소
          </span>
        </p>
        <p><strong>시간대:</strong> <code><%= ENV.fetch('TIME_ZONE', 'not configured') %></code></p>
        <p><strong>알림 SMTP:</strong> <code><%= ENV.fetch('SMTP_ADDRESS', 'not configured') %></code></p>
        <p><strong>알림 웹훅:</strong> <code><%= Ciao::Parsers::WebhookParser.names %></code>
        <p><strong>알림 수:</strong> <code><%= NOTIFICATIONS.length %></code></p>
        </p>
        <p><strong>HTTP 기본 인증 사용자 이름:</strong> <code><%= ENV.fetch('BASIC_AUTH_USERNAME', 'not configured') %></code></p>
        <p><strong>프로메테우스 활성화:</strong> <code><%= ENV.fetch('PROMETHEUS_ENABLED', 'not configured') %></code></p>
        <p><strong>Prometheus HTTP 기본 인증 사용자 이름:</strong> <code><%= ENV.fetch('PROMETHEUS_BASIC_AUTH_USERNAME', 'not configured') %></code></p>
        <p>
          <span class="badge badge-dark %>">
          데이터 베이스
          </span>
        </p>
        <p><strong>데이터베이스 연결. 풀 통계:</strong> <code><%= ActiveRecord::Base.connection_pool.stat %></code></p>
      </div>
    </div>
  </div>
</div>
